/* You can add global styles to this file, and also import other style files */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.container {
    width: 1918px;
    margin: auto;
    height: 935px;
}

 .menu li {
    margin-top: 20px;
    border-bottom: 1px solid #cdcd;
    padding-bottom: 10px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
} 

.content-left {
    background-color: black;
    width: 150px;
    float: le;
    height: 935px;
    float: left;
}

.logo {
    text-align: center;
    padding-top: 30px;
}

.logo>img {
    width: 310px;
    height: 122px;

}

.text-content {
    margin-top: 28px;
    background-color: #EFEFEF;
    border-radius: 10px;
}

.text-content h4 {
    text-align: center;
    padding-top: 30px;
}

.text-content p {
    padding-top: 20px;
    text-align: justify;
    width: 972px;
    padding-bottom: 30px;

}

.box {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}

.box-content {
    padding-bottom: 138px;
}

.box-content h2 {
    margin-bottom: 20px;
}

.img img {
    float: left;
    width: 100px;
    height: 100px;
}

.img p {
    font-size: 20px;
    text-align: justify;
}

.content-right {
    width: 1768px;
float: right;
}

.content-background {
    width: 1546px;
    margin-left: 11%;
}

.footer {
    margin-left: 30px;

}

.footer p {
    width: 1510px;
}


/* responsive  */
@media(max-width:1280px) {
    .content-right {
        width: 1130px;
        height: 935px;

    }

    .content-background {
        width: 1000px;
        margin-left: 5%;

    }

    .logo {
        align-items: center;

    }

    .logo>img {
        width: 200px;
        height: 150px;
    }

}

@media(max-width:1024px) {}

@media(max-width:768px) {

    .container {
        width: 768px;
    }

    .content-left {
        /* display: none; */
        width: 10px;
    }

    .content-right {
        width: 1130px;
        height: 935px;
        float: left;

    }

    .content-background {
        width: 1000px;
        /* margin-left: 5%; */

    }

    .logo>img {
        width: 150px;
        height: 100px;
    }

    .text-content p {
        padding-top: 20px;
        text-align: justify;
        width: 300px;
        padding-bottom: 30px;

    }

    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 400px;
    }

    .text-content {
        width: 500px;
    }

    .box-content p {
        text-align: justify;
    }

}

@media(max-width:640px) {
    .container {
        width: 640px;
        height: 1000px;
    }

    .content-left {
        display: none;
        width: 10px;
    }

    .content-right {
        width: 1130px;
        height: 935px;
        float: left;

    }

    .content-background {
        width: 1000px;
        /* margin-left: 5%; */

    }

    .logo>img {
        width: 150px;
        height: 100px;
    }

    .text-content p {
        padding-top: 20px;
        text-align: justify;
        width: 300px;
        padding-bottom: 30px;

    }

    .box {
        display: grid;
        grid-template-columns: 1fr;
        width: 400px;
    }

    .text-content {
        width: 500px;
    }
    .footer p {
        width: 500px;
     text-align: center;
    }
    

 
}




